.nav-bar {
  /* the background will be a linear gradient from a light blue to a light green*/
  background: linear-gradient(to right, #014d18, #013a12, #01260c);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15%;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
